<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Test Cases" verbose="1">
	<test name="Test Cases">
		<classes>
		    <class name="com.australianopen.ios.tests"/>
		   <methods>
		       <include name="verifyFavoriteFunctionality"/>
		        <include name="verifyRegistrationFunctionalityInShopSection"/>
		   </methods>
		
		</classes>
	</test>

</suite>